.btn-yellow{
    padding: 8px 8px;
    border-radius: 6px;
    border:none;
    background: #FFC727;
    color: #161616;
}

.btn-yellow:hover{
    background: #dba81a;
}

.btn-yellow:hover i{
    color: #161616;
}